<div id="dialog-overlay" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
    <form id="dialog-box" class="bg-white p-8 rounded-lg shadow-lg max-w-xs md:max-w-xl w-full"
        [formGroup]="taskForm">
        <h2 class="text-2xl font-semibold mb-4">
            {{ task ? 'Update existing task' : 'Creating a new task' }}
        </h2>

        <p>
            <input id="name" type="text" placeholder="Write a task name" formControlName="name"
                [class.error-input]="name?.invalid && (name?.dirty || name?.touched) && (name?.hasError('required') || name?.hasError('maxlength'))">
        
            @if (name?.invalid && (name?.dirty || name?.touched)) {
                @if (name?.hasError('required')) {
                    <p class="error-text">Name is required</p>
                } @else if(name?.hasError('maxlength')) {
                    <p class="error-text">Name cannot exceed 50 characters.</p>
                }                
            }
        </p>

        <p>
            <label for="priority" class="mr-4">Priority:</label>
            <select id="priority" formControlName="priority">
                <option value="NONE">No priority</option>
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>
        </p>
        
        <p>
            <textarea id="description" rows="5" placeholder="Write a description for the task (optional)" formControlName="description"
                [class.error-input]="description?.invalid && (description?.dirty || description?.touched) && (description?.hasError('required') || description?.hasError('maxlength'))"></textarea>
            @if(description?.invalid && (description?.dirty || description?.touched) && description?.hasError('maxlength')) {
                <p class="error-text mb-4">Description cannot exceed 255 characters.</p>
            }
        </p>

        <div class="flex justify-end space-x-2">
            <button class="px-4 py-2 text-white rounded" id="btn-cancel" (click)="onVisibleChange.emit()">Cancel</button>
            <button class="px-4 py-2 text-white rounded" id="btn-confirm" type="submit" [disabled]="!taskForm.valid" (click)="emitTaskValue()">
                {{ task ? 'Update' : 'Create' }}
            </button>
        </div>
    </form>
</div>