#dialog-overlay {
    z-index: 3;
}

#btn-cancel {
    background-color: var(--gray);
}

#btn-cancel:hover {
    background-color: var(--darkgray);
}

#btn-confirm {
    background-color: var(--red);
}

#btn-confirm:hover {
    background-color: var(--darkred);
}